<style>
  body {
    background-image: url("http://www.imgbase.info/images/safe-wallpapers/photography/food/38703_food_beer.jpg");
  }
</style>
<div class='links'>
  <%= link_to "and buy some more!", bottles_path(99) %>
</div>
<iframe src="https://www.youtube.com/watch?v=qVjCag8XoHQ"></iframe>
